@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./background-new.png) no-repeat;
    background-size: cover;
    background-position:center;
}

.container{
    background-color: #222;
    color: #fff;
    padding: 2rem;
    transform: translateX(-90%);
}

.container h3{
    margin-bottom: 2rem;
}

.form-control{
    margin-bottom: 2rem;
    position: relative;
}

.form-control input,
.form-control textarea{
    padding: 0.5rem;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1rem;
    outline: none;
} 

.form-control input[type="submit"] {
    background-color: aqua;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem;
    transition: 300ms all;
}

.form-control input[type="submit"]:hover{
    background-color: gray;
    
} 

.form-control input~label, 
.form-control input textarea~label{

    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    padding: 0.5rem;
    transition: 300 ms all;

}
.form-control input:hover~label,
.form-control textarea:hover~label,
.form-control input:valid~label,
.form-control textarea:valid~label {
    top: -2rem;
    color: red;
    font-size: 1rem;
}

.form-control:last-child{
    margin: 0;
}
